@import url("https:fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.sign-up {
  display: flex;
  width: 100%;
  height: 130vh;  
  margin-top: 50px;
  background-color: rgb(252, 251, 251);
}

.sign-up .form-extender {
  width: 60%;
}

.sign-up .img-container {
  display: flex;
  height: 60%;
  justify-content: center;
  margin-top: 150px;
  width: 40%;
}

.sign-up .password-icon {
  margin-top: -27px;
  margin-left: 350px;
  color: blue;
  cursor: pointer;
}

.sign-up .terms {
  width: 110%;
  text-align: left;
  margin-bottom: 30px;
}

.sign-up .terms P {
  font-size: 85%;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 85%;
}

.sign-up .terms a {
  margin: 0px 4px;
  text-decoration: none;
  color: #1A33B2;
}

.sign-up .btn-container {
  width: 100%;
  margin-bottom: 20px;
}

.sign-up .btn-container button {
  width: 30%;
  padding: 15px;
  background-color: #1A33B2;
  border: none;
  border-radius: 5px;
}

.sign-up .btn-container button a {
  color: #fff;
  font-size: 18px;
}

.sign-up .alt-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sign-up .alt-login-container p {
  margin-right: 5px;
  letter-spacing: 1px;
  font-size: 95%;
}

.sign-up .alt-login-container a {
  letter-spacing: 1px;
  text-decoration: none;
  color: #1A33B2;
  font-weight: 700;
  font-size: 105%;
}
@media screen and (max-width:1200px){
  .sign-up {
    height: 190vh;  
  }
  .input-group {
    width: 110%;
  }
  
}

@media screen and (max-width:1023px){
  .sign-up {
    height: 190vh;  

  }
}


@media screen and (max-width:767px) {

  .sign-up {
    margin-top: 10px;
  }
  .sign-up .img-container {
    height: 40%;
    width: 50%;
  }
  .login-content-box {
    width: 90%;
  }

  .sign-up .form-extender {
    width: 50%;
  }

  .input-group label {
    font-size: 80%;
  }

  .input-group input {
    font-size: 70%;
    width: 95%;
  }
  

  .sign-up .terms {
    width: 100%;
    text-align: center;
  }

  .login-head {
    font-size: 120%;
  }

}

@media screen and (max-width:480px) {
  .sign-up {
    flex-direction: column;
    align-items: center;
    height: 220vh;
    margin-bottom: 40px;
  }

  .sign-up .img-container {
    margin-top: 60px;
}


.sign-up .form-extender {
  width: 100%;
}



}