* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contactus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 50px;
    gap: 25px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 20px 50px; */
    gap: 25px;
}



.contactus form > div {
    width: 100%;
}

.contactus h2 {
    font-weight: 600;
    font-size: 27px;
    color: #1A33B2;
}

.contactus label {
    display: block;
    font-size: 18px;
    color: #27303E;
    /* padding-left: 10px; */
    text-align: left;
}

.contactus input, .contactus textarea {
    display: block;
    width: 100%;
    margin: 12px 0px 30px;
    /* background-color: #CFD1D4; */
    border: 1px solid #9FA3A9;
    outline: none;
    border-radius: 5px;
    padding: 16px;
    font-size: 16px;
    color: #0F1928;
}

.contactus textarea {
    resize: none;
}

.contactus button {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    margin: 25px auto;
    background-color: #1A33B2;
    color: #fff;
    font-size: 18px;
    letter-spacing: 5%;
    outline: none;
    border: none;
    cursor: pointer;

}

@media (min-width: 768px) {
    .contactus {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 50px;
        
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 50px;
        padding: 25px 100px;
    }

    .contactus h2 {
        flex: 1 0 100%;
        font-size: 48px;
        margin-bottom: 25px;
    }

    .contactus form > div {
        width: 45%;
    }

    .contactus form > div:last-of-type {
        width: 100%;
    }
}
    
