* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contactus {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 80%;
    margin: 20px auto;

}

.contactus-head {
    width: 100%;
    margin: 20px auto;
}

.contactus-head h3 {
    font-size: 40px;
    font-weight: 700;
}

.contactus-content {
    width: 100%;
    border: 1px solid blue;
    margin-top: 50px;
    display: flex;
}

.contactus-details {
    width: 50%;
}

.contactus-image {
    width: 50%;
    display: flex;
    flex-direction: column;
}




.contactus form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 20px 20px 50px; */
    gap: 2px;
}



.contactus form > div {
    width: 100%;
}

.contactus h3 {
    font-weight: 600;
    font-size: 180%;
    color: #1A33B2;
}

.contactus label {
    display: block;
    font-size: 18px;
    color: #27303E;
    /* padding-left: 10px; */
    text-align: left;
}

.contactus input, .contactus textarea {
    display: block;
    width: 100%;
    margin: 12px 0px 30px;
    background-color: #F1F8FF;
    border: 1px solid #9FA3A9;
    outline: none;
    border-radius: 5px;
    padding: 16px;
    font-size: 16px;
    color: #0F1928;

}

.contactus textarea {
    resize: none;
}

.checkbox-div {
    display: flex;
    text-align: left;
    margin-top: -30px;
    margin-bottom: -30px;

}

.checkbox-div input {
    width: 2%;
    display: flex;
    
}

.checkbox-div p {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: 10px;

    

}

.checkbox-div p span {
    color: #1A33B2;
    margin-left: 5px;
    margin-right: 5px;
}


.contactus button {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    margin: 25px auto;
    background-color: #1A33B2;
    color: #fff;
    font-size: 18px;
    letter-spacing: 5%;
    outline: none;
    border: none;
    cursor: pointer;

}

.contactus-image {
    border: 1px solid green;
    width: 30%;
    margin: 0px auto;

}

.contactus-image-pic {
    border: 1px solid yellow;
    height: 50vh;
    margin-bottom: 80px;
}

.contactus-image-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid red;
    height: 40vh;
}

.contactus-image-writeup {
    margin-bottom: 65px;
}

.contactus-writeup-line {
    display: flex;
    margin-bottom: 16px;
}

.contactus-writeup-icon {
    margin-right: 10px;
    color: #1A33B2;
}

.cont-writeup-icon {
    
}

.contactus-writeup-icon p {
    color: #27303E;;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: left;
    width: 100%;
    margin-top: -5px;
    border: 1px solid red;
}

.contactus-image-socials {
    display: flex;
    border: 1px solid blue;
    width: 30%;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
}

.contactus-socials a {
    height: 30px;
    width: 30px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: #1A33B2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}







@media screen and (max-width: 767px) {
    .contactus {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 50px;
        
    }

    .contactus form {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 50px;
        padding: 25px 100px;
    }

    .contactus h3 {

        font-size: 120%;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .contactus form > div {
        width: 45%;
    }

    .contactus form > div:last-of-type {
        width: 100%;
    }

    .contactus form label {
        font-size: 90%;
    }

    .contactus form input {
        font-size: 80%;
    }
}
    
@media screen and (max-width: 480px){

    .contactus {
        padding: 0px;
        
    
    }
    
    form {

    
    }

    form label {
        margin-left:-80px;
        width: 100%;
    
    }
    
    
    .contactus input, .contactus textarea {
    width: 100%;
    margin-left: -80px;
    }
    
    
   .checkbox-div {
    width: 300%;
    display: flex;
    margin: 0px;
    padding: 0px;
    
   }

    .checkbox-div p {

      font-size: 9px;
      width: 300%;
      margin-left: -20px;
      display: flex;

}
.checkbox-div input {
    margin-left: -110px;
}

}
