@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about-page {
    width: 100%;
    background: linear-gradient( 5deg, #fff, #fff, rgb(250, 250, 250));
    height: 3600px;
    border: 1px solid rgb(254, 254, 254);
    border: 5px solid red;
}

.about-page-container {
    width: 85%;
    margin: 60px auto 0px auto;
    height: 71%;

    border: 1px solid blue;
}

.about-h1 {
    width: 100%;
    margin: 0px 0px;
    border: 1px solid red;

    
}

.about-h1 h1 {
    
    font-size: 160%;
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 2px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    border: 2px solid black;
}

.about-service {
    margin-top: 60px;
    border: 1px solid red;
}
.about-service h2 {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 160%;
    font-weight: 500;
    text-transform: capitalize;
    
}

.about-container-box {
    width: 70%;
    margin: 50px auto;
    height: 45vh;
    display: flex;
}

.about-container-front, .about-container-back:nth-child(2) {
    width: 45%;
    

}

.about-container-front {
    margin-top: 60px;
    margin-right: 30px;
    border: 1px solid blue;
    width: 60%;
}

.front-last span {
    color: #1A33B2;
}

.about-container-front h3, .about-container-back h3:nth-of-type(2), .about-container-back h3:nth-of-type(1) { 
    font-size: 120%;
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 35px;
    text-align:left;
}
.about-container-back-h {
    margin-top: 100px;
    border: 1px solid red;
    width: 120%;
}

.about-container-back {
    width: 40%;
    margin: 0px auto;
    
}

.about-container-img1, .about-container-img2 {
    width: 100%;
    height: 100%;
    background: url('../../assets/about1.svg');
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

.about-container-img2 {
    background: url('../../assets/about2.svg');
    background-size: cover;
    height: 107%;
    margin-top: -20px;


}

.about-container-img3 {
    width: 100%;
    height: 100%;
    background: url('../../assets/about3.svg');
    margin-bottom: 50px;
}

.about-content-middle  {
    width: 80%;
    margin: 10px auto;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 35px;
    text-align:left;
    font-size: 90%;
}

.about-h1 span {
    color: #1A33B2;
}

.aboutus-team {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.aboutus-team-head {
    font-size: 125%;
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}


.aboutus-team-sub {
    width: 80%;
    margin: 0px auto 30px auto;
}

.aboutus-team-sub h3 {
    color: #0F1928 ;
    font-size: 110%;
    font-weight: 500;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 35px;
}

.about-details h1 {
    margin: 80px 0px 10px 0px;
    width: 100%;
    font-size: 220%;
    display: block;
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.about-h1 {
    width: 100%;
}



.about-p {
    width: 100%;
    margin-bottom: 15px;
}

.about-p p {
    font-size: 85%;
    color: #555;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.about-button {
    width: 100%;
    display: block;
}


.aboutus-head, .gain-head {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.aboutus-head h2, .gain-head h2 {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 180%;
    display: block;
    font-weight: 700;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: start ;
    color:#0F1928 ;
}

.aboutus-head span {
    color: #1A33B2;
}

.aboutus-sub, .gain-sub {
    width: 100%;
    margin: 20px 0px 20px 0px;
    text-align:start ;
}

.aboutus-sub h3, .gain-sub h3 {
    font-size: 140%;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1px;
    color:#3F4753;
    width: 90%;
    margin: 0px auto;

}



.aboutus-button {
    width: 90%;
    text-align: start;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;

}

.aboutus-img  {
    background: url('../../assets/about3.svg');
}


.gain-img {
    
    background-position: center;
    background-size: cover; 
    height: 200px;
    width: 300px;
    border: 5px solid #000;
    border-radius: 10px;
}

.newsletter-head-div {
    background-color: #080F45;
    box-shadow: 24px 24px 4px rgba(26, 51, 178, 0.25), 4px 4px 15px rgba(125, 230, 254, 0.52);

    width: 1128px;
    height: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    display: flex;
}

.newsletter-head-content {
    width: 65%;
    margin: 50px 60px 60px 80px;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.newsletter-head-content h2 {
    color: #F5FAFF;
    font-size: 48px;
    font-family: Lato;
    font-style: SemiBold;
    font-size: 48px;
    line-height: 58px;
    line-height: 100%;
    align: Left;
    vertical-align: Top;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.newsletter-head-content p {
    font-family: Lato;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    align: Left;
    vertical-align: Top;
    weight: 400;
    size: 20px;
    line-height: 24px;
    color: #F5FAFF;
    width: 70%;
    letter-spacing: 1px;
    word-spacing: 1px;

}

.newsletter-head-button {
    display: flex;
    align-items: center;
    margin-left: 40px;
    width: 20%;
}

.newsletter-head-button button {
    width: 1128px;
    top:3885px;
    left:156px;
    width: 150px;
    height: 6vh;
    radius: 10px;
    border: none;
    background-color: #080F45;
}

.newsletter-head-button button a {
    padding: 15px 25px;
    border: 1px solid #F5FAFF;
   
    border-radius: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
}









@media screen and (max-width: 1200px) {
    .about-page {
        height: 2780px;
    }
}

@media screen and (max-width: 1023px) {
    .about-page {
        height: 3090px;
    }
}

@media screen and (max-width: 767px) {
    .about-h1 {
        width: 105%;
    
    }
    .about-h1 h1 {
        font-size: 115%;
        font-weight: 700;
       

    }
    
   .about-container-box {
        width: 100%;
        height: 65vh;
    }

    .about-container-front h3, .about-container-back h3:nth-of-type(2), .about-container-back h3:nth-of-type(1) { 
        font-size: 90%;
    }

    .about-content-middle h3 {
        font-size: 110%;
    }

    .aboutus-team-head h2 {
        font-size: 100%;
        font-weight: 600;
    }

    .aboutus-team-sub {
        width: 105%;
    }

    .aboutus-team-sub h3 {
        font-size: 90%;
    }

}

@media screen and (max-width: 480px) {

    .about-page {
    
        height: 2700px;
    }

    .about-page-container {
        height: 75%;

    }

    .about-h1 {
        width: 108%;
        margin-left: -20px;
    
    }
    .about-h1 h1 {
        width: 100%;
        font-size: 95%;
        line-height: 30px;

    }

    .about-container-box {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        
    }

    .about-first-box {
        flex-direction: column-reverse;
    }

    .about-container-front, .about-container-back:nth-child(2) {
        width: 100%;
        height: 100%;
    
    }
    
    .about-container-front h3 {
        font-size: 76%;
        text-align: center;    
    }

    .about-container-front h3:nth-child(2) {
        margin-top: -15px;
        text-align: center;

    }

    .about-container-img1, .about-container-img2, .about-container-img3 {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-content-middle  {
        width: 100%;
        line-height: 30px;
        margin-top: -30px;
        text-align: center;
        font-size: 80%;
        
    }

    .about-content-middle h3 {
        margin-top: -80px;
    }

    .about-container-back-h {
        font-size: 80%;
        
    }
    .about-container-back-h h3:last-child {
        margin-top: -30px;

    }
    .about-container-img2 {
        margin-bottom: 50px;
    }

.about-container-img3 {
    margin-top: -130px;
}

.front3 {

    margin-top: -170px;
    line-height: 25px;
}
.aboutus-team {
    margin-top: -510px;
}

}