.Banks{
    display:flex;
    height: 80vh;
    margin-top: 2.5rem;
    margin-bottom: 7rem;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction:column;
    padding: 0 40rem 0 1rem;
}

.space{
    display: flex;
    flex-direction: column;
}

.space > span:nth-child(1){
    color: var(--black);
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.space> span:nth-child(2){
    color: var(--gray);
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-top: 0.5rem;
}

.i-right{
    flex: 1;
    position: relative;
}

.i-right > img{
    cursor: pointer;
}

.i-right > * {
    z-index: 1;
    position: absolute;
}

.i-right > :nth-child(1){
    transform: scale(0.9);
    left: 30%;
    top: -1%;
}

.i-right > :nth-child(2){
    transform: scale(0.8);
    left: 32.6%;
    top: -1%;
}

.i-right > :nth-child(3){
    transform: scale(1);
    top: -1%;
    left: 49%;
}


.i-right > :nth-child(4){
    transform: scale(0.5);
    top: -8%;
    left: 60%;
}

.i-right > :nth-child(5){
    transform : scale(0.7);
    left: -40rem;
}


.i-right>:nth-child(6){
    display: flex;
    flex-direction: column;
    top:82%;
    left: -50rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
}

.i-right>:nth-child(7){
    display: flex;
    flex-direction: column;
    top:82%;
    left: -39.5rem;
    color: var(--finall2);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
}

.i-right>:nth-child(8){
    display: flex;
    flex-direction: column;
    top:90%;
    left: -50rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

.i-right>:nth-child(9){
    display: flex;
    flex-direction: column;
    top:90%;
    color: var(--finall2);
    left: -47rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

.i-right>:nth-child(10){
    display: flex;
    flex-direction: column;
    top:90%;
    left: -41.4rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

.i-right>:nth-child(11){
    display: flex;
    flex-direction: column;
    top:90%;
    color: var(--finall3);
    left: -27.5rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

.i-right>:nth-child(12){
    display: flex;
    flex-direction: column;
    top:90%;
    left: -17rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

.i-right>:nth-child(13){
    display: flex;
    flex-direction: column;
    top:94%;
    left: -50rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}


