.wrangler{
    width: 8rem;
    height: 6rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    text-align: center;
    flex: 1;
    background: rgba(255, 255, 255, 0.26);
    border: 5px solid var(--white);
    border-radius: 20px;
    padding: 0px 10px 2px 26px;
    font-weight: bold;
}


.wrangler   span:nth-of-type(1) {
    color: #0F1928;
    font-size: 18px;
    align-items: center;
    top:71px;
    left: -20px;
}

.wrangler span:nth-of-type(2){
    color: #6F757E;
    position: absolute;
    width: 233px;
    height: 45px;
    left: -50px;
    top: 120px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}

.wrangler > img{
    position: absolute;
    left:18%;
    height:50px;
    width: 50px;
    transform: scale(1.5);
    align-items: center;
}

.wrangler >*{
    position: absolute;
}