.card-wrangler{
    width: 16rem;
    height: 14rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    background: rgba(255, 255, 255, 0.26);
    border: 5px solid var(--white);
    border-radius: 20px;
    padding: 0px 3px 2px 3px;
    font-weight: bold;
}


.card-wrangler-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
}


.card-wrangler-content-image  {
    left:18%;
    height:80px;
    width: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

}

.card-wrangler-content-image img {
    width: 100%;
    height: 100%;

}

 

.card-wrangler .card-wrangler-content span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 400;

}


.card-wrangler .card-wrangler-content span:nth-of-type(1) {
    color: #0F1928;
    width: 120%;
    font-size: 22px;
    font-weight: 400;
    align-items: center;
    top:71px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    word-spacing: 1px;
    letter-spacing: 1px;
    
}

 

.card-wrangler .card-wrangler-content span:nth-of-type(2){
    color: #6F757E;
    width: 105%;
    height: 45px;
    margin-right: 10px;
    margin-left: 0px;
    justify-content: center;
    top: 125px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    word-spacing: 1px;
    letter-spacing: 1px;
    
}


.card-wrangler >* {
    position: absolute;
}

@media screen and ( max-width:1200px) {

    .card-wrangler-content {
        height: 220px;
        margin-top: 85px;
    }

    .card-wrangler-content-image {
        margin-top:0px;

    }

    .card-wrangler .wrangler-content span {
        margin-bottom: 20px;
    }
    
    .card-wrangler .wrangler-content span:nth-of-type(1) {
        margin-top: 10px;
    }

    .card-wrangler .wrangler-content span:nth-of-type(2) {
        margin-bottom: 200px;
        height: 65px;

    }
}

@media screen and ( max-width:767px) {
    .card-wrangler {
        width: 10rem;
    }
    .card-wrangler-content-image img {
        margin-top: -40px;
        margin-bottom: 20px;
        height: 60%;
        width: 60%;

    }

    .card-wrangler-content-span {
        margin-top: -40px;
        width: 110%;

    }

    .card-wrangler-content-span span:nth-of-type(1){
        margin-top: -15px;

    }

    .card-wrangler-content-span span:nth-of-type(2) {
        margin-top: 40px;
        
    }

    
}


@media screen and ( max-width:480px) {

    .card-wrangler {
        border: 1px solid red;
        width: 15rem;
        
    }


    .card-wrangler-content {
        display: flex;
        flex-direction: row;
    }

    
}