.Notify{
    display:flex;
    height: 20vh;
    margin-top: 0.3rem;
}

.p-right{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.slap{
    position: relative;
    flex: 1;
}

.slap > *{
    z-index: 1;
    position: absolute;
}

.slap > img{
    cursor: pointer;
}

.slap > :nth-of-type(1){
    transform: scale(0.8);
    left: 66rem;
}


.slap > :nth-of-type(2){
    left: 63rem;
    top : 2.5rem;
}

.slap > :nth-of-type(3){
    left: 60rem;
    top: 2.6rem;
}

.slap > :nth-of-type(4){
    left : 59.5rem;
    top: 2.4rem;
}




