.settings {
  padding: 25px;
  padding-top: 40px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  flex-direction: column;
}

.nav-left h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #33343d;
}

.nav-left p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #807d9b;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icons .icon {
  padding: 20px;
}

.nav-profile-image img {
  width: 92px;
  height: 92px;
}

.settings-home {
  padding: 83px;
}

.settings-home h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #0f1928;
}

.settings-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 72px;
  row-gap: 45px;
  padding-left: 83px;
  max-width: fit-content;
}

.settings-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 410px;
  height: 80px;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(26, 51, 178, 0.25);
  order: 0;
  border-radius: 10px;
  border-color: var(--finall2);
}
.settings-item img {
  width: 34px;
  height: 34px;
}
.settings-item p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #33343d;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.nav-link {
  text-decoration: none;
}
