.pricing {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
}

.pricing-box {
    width: 312.5px;
    height: 382.4px;
    border-radius: 18.38px;
    background-color:#F5FAFF;
    display: flex;
    flex-direction: column;


    
}
.pricing-box:active,
.pricing-box:hover {
    border: 2px solid rgb(131, 180, 182);
}

.pricing-box:last-child {
    margin-right: 200px;
}

.pricing-box:first-child {
    margin-left: 200px;
    margin-right: 25px;
}


.pricing-box:nth-child(2) {
    margin-top: 220px;
    margin-right: 25px;
    background-color: #1A33B2 ;
}


.pricing-button1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41.36px;
    margin-top: 50px;
}


.pricebutton1 {
    

}

.pricebutton1 a {

}
 
.pricebutton1 button {
    width: 95.59px;
    height: 41.36px;
    background-color: #E0ECFB; 
    border: none;
    border-radius: 5px;
    color: #4D69FF;
    font-size: 65%;
    letter-spacing: 1px;
}

.pricebutton1 button:active,
.pricebutton1 button:hover {
    border: 2px solid rgb(131, 180, 182);
    text-decoration: underline;
    text-decoration-color:rgb(131, 180, 182) ;
}

.price h5 {
    margin: 30px 0px 15px 0px;
    letter-spacing: 1px;
    color: #0B1F8E;
}

.price-desc h6 {
    color: #4D69FF;
    font-size: 80%;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 15px;
}


.pricing-para1 {
    color: #0B1F8E;
    font-size: 70%;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 700;
    margin-bottom: 15px;
}

.pricing-para2 {
    color: #0B1F8E;
    font-size: 75%;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 700;
    margin-bottom: 50px;
}


.pricingbutton2 {

}

.pricingbutton2 button {
    padding: 10px;
    background-color:#1A33B2 ;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 1px;
    border: none;
    border-radius: 5px;
    font-size: 70%;
}

.pricingbutton2 button:active,
.pricingbutton2 button:hover {
    text-decoration: underline;
    text-decoration-color: #668088;

}





















