.pricing {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 90px 0px;
}

.pricing-box {
    width: 312.5px;
    height: 382.4px;
    border-radius: 18.38px;
    background-color:#F5FAFF;
    display: flex;
    flex-direction: column;
}
.pricing-box:active,
.pricing-box:hover {
    border: 2px solid rgb(131, 180, 182);
}

.pricing-box:last-child {
    margin-right: 200px;
}

.pricing-box:first-child {
    margin-left: 200px;
    margin-right: 25px;
}


.pricing-box:nth-child(2) {
    margin-top: 220px;
    margin-right: 25px;
    background-color: #1A33B2 ;
}


.pricing-button1, .pricing-button5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41.36px;
    margin-top: 50px;
}

.pricebutton1 button, .pricing-button5 button {
    width: 95.59px;
    height: 41.36px;
    background-color: #E0ECFB; 
    border: none;
    border-radius: 5px;
    color: #4D69FF;
    font-size: 65%;
    letter-spacing: 1px;
    cursor: pointer;
}

.pricing-button5 button:active,
.pricing-button5 button:hover {
    text-decoration: underline;
    text-decoration-color: rgb(131, 180, 182);
    border: 2px solid rgb(131, 180, 182);
}

.pricebutton1 button:active,
.pricebutton1 button:hover {
    border: 2px solid rgb(131, 180, 182);
    text-decoration: underline;
    text-decoration-color:rgb(131, 180, 182) ;
}

.price h5 {
    margin: 30px 0px 15px 0px;
    letter-spacing: 1px;
    color: #0B1F8E;
}

.price h5:active,
.price h5:hover {
    text-decoration: underline;
    text-decoration-color: rgb(131, 180, 182);
}

.price-desc h6 {
    color: #4D69FF;
    font-size: 80%;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 15px;
}

.price-desc h6:active,
.price-desc h6:hover,
.pricing-para1:active,
.pricing-para1:hover,
.pricing-para2:active,
.pricing-para2:hover,
.standard-cost h5:active,
.standard-cost h5:hover,
.price-desc2:active,
.price-desc2:hover,
.price-desc2b:active,
.price-desc2b:hover,
.standard-para1:active,
.standard-para1:hover,
.standard-cost2 h5:active,
.standard-cost2 h5:hover {
    text-decoration: underline;
    text-decoration-color: rgb(131, 180, 182);
    
}


.pricing-para1 {
    color: #0B1F8E;
    font-size: 70%;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 700;
    margin-bottom: 15px;
}



.pricing-para2 {
    color: #0B1F8E;
    font-size: 75%;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 700;
    margin-bottom: 50px;
}


.pricingbutton2 button {
    padding: 10px;
    background-color:#1A33B2 ;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 1px;
    border: none;
    border-radius: 5px;
    font-size: 70%;
    margin-top: 40px;
    cursor: pointer;
}


.pricingbutton2 button:active,
.pricingbutton2 button:hover {
    text-decoration: underline;
    text-decoration-color: #668088;

}


.pricing-button3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41.36px;
    margin-top: 50px;
    
}


.pricing-button3 button {
    width: 95.59px;
    height: 41.36px;
    background-color: #E6F5ED; 
    border: none;
    border-radius: 5px;
    color: #4D69FF;
    font-size: 70%;
    letter-spacing: 1px;
    cursor: pointer;
}

.pricing-button3 button:active,
.pricing-button3 button:hover {
    text-decoration: underline;
    text-decoration-color: #668088;

}


.standard-cost h5 {
    margin: 30px 0px 15px 0px;
    letter-spacing: 1px;
    color: #fff;
}

.standard-cost h5 span {
    font-size: 120%;
}

.price-desc2, .price-desc2b {
    color: #fff;
    font-size: 90%;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 15px;
}

.standard-para1 {
    color: #fff;
    font-size: 70%;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 700;
    margin-bottom: 15px;
}

.standard-para1 p span {
    font-size: 120%;
}

.pricing-button4 button {
    padding: 10px;
    background-color: #E6F5ED;
    color: #1A33B2;
    letter-spacing: 1px;
    word-spacing: 1px;
    border: none;
    border-radius: 5px;
    font-size: 70%;
    margin-top: 30px;
    cursor: pointer;
}

.pricing-button4 button:active,
.pricing-button4 button:hover {
    text-decoration: underline;
    text-decoration-color: #668088;

}

.standard-cost2 h5 {
    margin: 30px 0px 15px 0px;
    letter-spacing: 1px;
    color: #23AC00;
}

.standard-cost2 h5 span {
    font-size: 120%;
}


.pricing-button6 {
    margin-top: -25px;
}


@media screen and (max-width:1023px){
    .pricing-box {
        padding: 0px 5px;
        height: 422.4px;    
    }
}

@media screen and (max-width:767px){
    .pricing-box {
        height: 522.4px;  
        padding: 0px 60px;
    
    }

    .pricing-box:last-child {
        margin-right: 200px;
    }
    
    .pricing-box:first-child {
        margin-right: 25px;
    }
    
    
    .pricing-box:nth-child(2) {
        margin-right: 25px;

    }

    .price-desc, .pricing-para1, .price-desc2, .price-desc2b, .standard-para1 {
        width: 150%;
        margin-left: -20px;
    
    }

    
}