/* *{
    box-sizing: border-box;
}

.row{
    display:flex;
    margin:20px;
    padding:20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    }

@media(max-width:500px){
    .row{
        display:block;
    }
}
.column{
   width: 15%;
    text-align: center;
    margin: 45px 0 0 2%;
    flex-grow: 1;
    font-size: 18px;
    
}
.team{
    text-align: center;
    font-size: 20px;
    
}

.team h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.team h4 {
    color: #0F1928;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 500;
}


.container{
    padding: 0 16px;

}

.card{
    border: 2px solid grey;
    width: 200px;
    border-radius:15px;
    height:250px;
}

.container-img h2, .last-container h2 {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.container-img p, .last-container p {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 400;
} 

@media(max-width:500px){
    .card{
        margin-left:-14px;
    }
}
.card-img{
    border-radius: 50%;
    border:2px solid grey;
    height:40%;
    width:50%;
    margin-top:20px;
    
}
.last-column{
    width: 31%;
    text-align: center;
    margin: 45px 0 0 2%;
    font-size: 18px;
}
.cards{
    border: 2px solid grey;
    width: 300px;
    border-radius:15px;
   height:400px
}
@media(max-width:500px){
    .cards{
        margin-left: -14px;
    }
} */

    @media(min-width: 769px) {
        .slider-container.react-multi-carousel-list {
            display: none;
    }
}