.account {
    font-family: "Lato", sans-serif;
    padding-left: 3rem;
    /* background: #DEDEDE;
    height: 100%; */
    padding-right: 3rem;
}

/* START OF THE HEADER, CAN BE REUSED */
.account header .header-title {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.account header .header-title h1 {
    font-weight: 700;
    line-height: 2rem;
    font-size: 1.8rem;
    color: #33343D;
}

.account header .header-title p {
    color: #807D9B;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.account header .header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.account header .header-image img {
    width: 1.5rem;
    height: 1.5rem;
}

.account header .header-image .profile-pic {
    height: 3rem;
    width: 3rem;
}

/* END OF HEADER */

.account main {
    padding-top: 3rem;
}

.account .main-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.account .main-heading div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.account .main-heading div h1 {
    color: #33343D;
    font-size: 1.5rem;
}

.account .main-heading div h2 {
    color: #1A33B2;
    font-size: 1.2rem;
}

.account section .account-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.account-card-section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.account section .account-container {
    border-bottom: .001px solid #33343D;
    padding-bottom: 2rem;
}

.account section .account-container div h5 {
    color: #33343D;
    font-size: 1rem;
    opacity: .7;
    font-weight: 400;
    padding-bottom: 1rem;
}

.account section .account-container div p {
    font-weight: 600;
    font-size: 1.2rem;
    color: #33343D;;
}

.account section .account-container .account-balance p {
    color: #1A33B2;
    font-weight: 700;
    font-size: 1.6rem;
}