@import url("https:fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.services {
  position: relative;
  max-width: 1440px;
  overflow: hidden;
}

.services h2 {
  color: var(--finall2);
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  font-family: "Lato", sans-serif;
  margin-bottom: 69px;
}

.card-container {
  max-width: 359px;
  height: 435px;
  background: #ffffff;
  box-shadow: 4px 4px 50px #e6eaee;
  border-radius: 20px;
}

.card-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 21.76px;
}

.card-img {
  width: 152px !important;
  height: 152px !important;
  object-fit: cover;
  border-radius: 0;
  border: none;
  margin-top: 0;
}

.card-body {
  color: var(--finall2);
  padding: 0 24px;
  font-family: "Lato", sans-serif;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 2px;
  margin-top: 28.71px;
}

.card-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.card-container-active {
  max-width: 359px;
  height: 435px;
  background: var(--finall2);
  box-shadow: 4px 4px 50px #e6eaee;
  border-radius: 20px;
}

.card-body-active {
  color: #fff;
  padding: 0 24px;
  font-family: "Lato", sans-serif;
}

.card-title-active {
  margin-top: 28.96px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.card-content-active {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.card-img-container-active {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 54.92px;
}

.card-img-active {
  width: 118px;
  height: 118px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.slide-arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  line-height: 1;
  margin-top: -2em;
  cursor: pointer;
  background: var(--finall2);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-arrow:hover {
  opacity: 0.6;
}

.slide-arrow.swiper-button-disabled {
  display: none;
}

.slide-icons {
  font-size: 25px;
  color: #fff;
}

@media screen and (max-width: 640px) {
  .card-container,
  .card-container-active {
    height: 401.82px;
  }

  .card-img,
  .card-img-active {
    width: 82.26px !important;
    height: 88.36px !important;
  }

  .card-title,
  .card-title-active {
    font-size: 20px;
    line-height: 28px;
  }

  .card-img-container,
  .card-img-container-active {
    padding-top: 41.09px;
    padding-bottom: 21.66px;
  }

  .card-title,
  .card-title-active {
    margin-bottom: 10px;
  }

  .slide-arrow {
    width: 42.55px;
    height: 42.55px;
    background: #f5faff;
  }

  .slide-icons {
    color: #0b1f8e;
  }

  .prev {
    left: 24.56px !important;
  }

  .next {
    right: 24.56px !important;
  }
}
