.section-hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    height: 1550px;
    
}

.hero-container, .business, .goals, .spending {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.hero-container {
    display: flex;
    flex-direction: row;

}

.business, .goals, .spending {
    height:400px;
    margin: 60px 0px;
}

.goals {
    margin-top: 10px;
    height: 300px;
}

.spending {
    margin-top: 120px;
    margin-bottom: -150px;
   
}

.hero-container {
    display: flex;
    flex-direction: column;

}

.boxes-container {
    display: flex;
    justify-content: center;
    width: 100%;

}

.hero-boxes, .business-boxes, .goal-boxes, .spending-boxes {
    width: calc(100%/3);
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
}

.hero-boxes {
    margin: 50px 10px;
}

.business-boxes, .goal-boxes, .spending-boxes {
    margin: 0px 10px 40px 10px;
}


.hero-details {
    display: flex;
    align-items: flex-start;
    text-align: left;
   

}

.hero-img {
color: red;
background-color: #fff;
background: url('./images/lapi.jpeg');
background-position: center;
background-size: cover;
}

.hero-h1 {
    width: 100%;
}

.hero-h1 h1 {
    font-size: 42px;
    margin: 80px 0px 10px 0px;
    width: 100%;
    display: block;
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 52px;
}

.hero-h1 span {
    color: #1A33B2;
}

.hero-p {
    width: 100%;
    margin-bottom: 15px;
}

.hero-p p {
    font-size: 125%;
    color: #555;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 32px;
}

.hero-button {
    width: 100%;
    display: block;
    display: flex;
    justify-items: flex-start;

}

.spending {
    background-color: rgb(247, 247, 247);
    margin-top: 80px;
    margin-bottom: -60px;
    height: 60vh;
}

.spending-boxes {
    padding-top: 20px;
    margin-top: 120px;
}

.business-head, .goal-head, .spending-head {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.business-head h2, .goal-head h2, .spending-head h2 {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 40px;
    display: block;
    font-weight: 600;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: start ;
    color:#0F1928 ;
}

.goal-head span {
    color: #1A33B2;
}

.goal-details   {
    margin-top: 100px;
}

.business-sub, .goal-sub, .spending-sub {
    width: 100%;
    margin: 20px 0px 20px 0px;
    text-align:start ;
}

.business-sub h3, .goal-sub h3, .spending-sub h3 {
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;
    color:#3F4753;
    width: 90%;
    margin: 0px auto;
    line-height: 326x;

}

.spending-sub h3 {
    font-size: 23px;
    font-weight: 400;
    
    
}

.business-button {
    width: 90%;
    text-align: start;
    margin-right: auto;
    margin-left: auto;
   

}

.business-img  {
   background: url('./images/Personal\ goals-amico\ 1.png');
    background-position: center;
    background-size: cover;
    height: 70vh;
    margin-top: -60px;
}

.goals {
    display: flex;
    flex-direction: row-reverse;
}

.goal-img {
    background: url('./images/MacBook\ Pro\ 16.png');
    background-position: center;
    background-size: cover; 
    height: 300px;
    width: 450px;
    margin-top: 50px;
}
.spending-img-box {
    width: 30%;
    height: 70%;
    margin-top: 80px;
    margin-right: 40px;
    
}

.spending-img {
    background: url('./images/sit1.svg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

@media screen and (max-width: 1200px) {
    .hero-details h1 {
        font-size: 180%;
        font-weight: 600;
    }

    .business-head {
        margin-top: 40px;
        font-size: 85%;
    }

    .business-sub {
        font-size: 65%;
    }

    .goal-head {
        font-size: 75%;
    }
    .goal-sub {
        font-size: 65%;
    }
    .spending-head {
        font-size: 70%;
        
        
    }


}


@media screen and (max-width: 1023px) {
    .hero-details h1 {
        font-size: 180%;
        font-weight: 600;
    }

    .hero-img {
        
        height: 60vh;
        width: 60vh;
        margin-top: 100px;
    }

    .business-img {
        
        height: 60vh;
        width: 60vh;
    
    }

    .business-head {
        font-size: 90%;
        font-weight:lighter;
        width: 115%;
    }

    .business-sub {
        font-size: 70%;
    }

    .business {
        height: 350px;
        margin: 10px 0px;
    }

    .goals {
        margin: -10px 0px;
        
    }
    .goal-boxes {
        height: 300px;
    }

    .goal-img {
        height: 60vh;
        width: 60vh; 
    
    }

    .goal-details {
        margin-top: 50px;
    }

    .goal-head {
        font-size: 80%;
        font-weight: 300;
        width: 115%;
    }

    .goal-sub {
        font-size: 70%;
    }

    .spending-head {
        font-size: 75%;
        width: 110%;
        text-align: center;
        margin-bottom: 5px;
        
    }

    .spending-img {
        height: 60vh;
        width: 60vh;
    }

    .spending-details {
        margin-top: 60px;
    }

}

@media screen and (max-width: 767px){

    .hero-details {
        width: 50%;
    }
    .hero-h1 {
        margin-bottom: 20px;

     }

     .hero-h1 h1 {
        font-size: 150%;
        line-height: 40px;
     }

     .business-boxes {
        width: 50%;
     }

     .business-head {
        width: 100%;
        margin-top: 20px;

     }
     .business-head h2 {
        font-size: 135%;
     }

     .goal-boxes {
        width: 50%;

     }
     .goal-head  h2{
        font-size: 150%;
     }

     .goal-img {
        width: 40%;
     }

     .spending-boxes {
        
        width: 50%;
     }
     .spending-img-box {
        margin-right: -20px;
     }

     .spending-img {
        margin: 0px auto;
     }


}

@media screen and (max-width: 480px) {
    .section-hero {
        background: #fff;
        height: 1680px;
        margin-bottom: 200px;

    }
.hero-container {
    height: 100%;

}
.boxes-container{
    margin-bottom: 50px;
}

    .boxes-container, .business, .goals {
        flex-direction: column;
        height: 130vh;
        
        
    }

    .hero-details {

        margin-top: -30px;
        height: 60vh;
        width: 80%;
        margin-left:auto;
        margin-right: auto;
        text-align: center;
    
    }
    .hero-img {
        margin-top: -600px;
        height: 45vh;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-h1 {
        margin-top: -50px;
    }

    .hero-h1 h1 {
        font-size: 120%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-p {
        margin-bottom: 30px;
    }
    

    
    .business-boxes {
        flex-direction: column;
    }

    .business-img, .goal-img {
        width: 60%;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;

    }

    .goal-img {
        margin-top: 60px;
        height: 55vh;
        width: 75%;
    }
    .business-details, .goal-details {
        height: 60vh;
        width: 80%;
        margin-top: -20px;
        margin-left:auto;
        margin-right: auto;
        text-align: center;
    }

    .business-head h2, .business-sub h3, .goal-head h2, .goal-sub h3 {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .business-sub h3, .goal-sub h3{
        font-size: 100%;
        text-align: center;
    }

    .business-button {
        text-align: center;
        margin-top: 40px;
    }

    .goals {
        margin-bottom: -150px;
    }
    .business {
        margin-bottom: -50px;
        height: 100vh;
    
    }

    .spending {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .spending-img-box {
        width: 60%;
        height: 35%;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;

    }

    .spending-img {
        width: 100%
    }

    .spending-details {
        width: 80%;
        margin-top: -20px;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
        
    }
    .spending-head {
       
        width: 100%;
    }

    .spending-head h2 {
        font-size: 140%;
        text-align: center;
    }

    .spending-sub h3 {
        text-align: center;
    }

}