@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --white: #fff;
  --font-lato: "Lato", sans-serif;
  --font-weight: 700;
  --letter-spacing: 0.05em;
}

.container {
  margin-top: 40vh; /** To be removed: For the purpose of spacing the top**/
  display: flex;
  max-width: 1440px;
  background-color: #151515;
  height: 445px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.col-left h3 {
  color: var(--white);
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  width: 652px;
  text-align: left;
}

.col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 156px;
}

.row-2 {
  padding-top: 40px;
  display: flex;
}

.btn-wrapper {
  margin-right: 32px;
}

.btn-wrapper button {
  padding: 20px 32px;
  background-color: #1a33b2;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  font-family: var(--font-lato);
  text-align: center;
  letter-spacing: var(--letter-spacing);
  color: #fff;
  line-height: 28px;
  outline: none;
  border: none;
}

.row-2 a {
  color: #cfe6fc;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  text-decoration: none;
}

.row-2 a span {
  margin-right: 14px;
  font-family: var(--font-lato);
}

.arrow-icon {
  width: 12px;
  height: 12.01px;
  position: relative;
  top: 2px;
}

.col-right {
  position: absolute;
  width: 556px;
  height: 654px;
  left: 731px;
  bottom: 0px;
}