* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 1023px) {
    header {
        font-size: 75%;

    }

}


@media (min-width: 801px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
    }
    
    header img{
        width: 100px;
        height: 60px;
    }
    
    header ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header li a {
        text-decoration: none;
        margin: 10px 20px;
        padding-bottom: 8px;
        border-bottom: 2px solid transparent;
        font-weight: 400;
        font-size: 20px;
        color: #0F1928;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    
    header li a:hover, a.active {
        color: #1A33B2;
        font-weight: bold;
        border-bottom: 2px solid #1A33B2;
    }
    
    a.cta {
        text-decoration: none;
        color: #1A33B2;
        font-weight: bold;
        letter-spacing: 1px;

    }
    
    
    button.cta {
        border-radius: 8px;
        padding: 0.8em 1.5em;
        margin-left: 30px;
        background-color: #1A33B2;
        color: #fff;
        font-size: 18px;
        letter-spacing: 5%;
        outline: none;
        border: none;
        cursor: pointer;
        
    }
    
    button a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    
}

/* smaller than 800px devices */

@media (max-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
    }
    
    header img{
        width: 20px;
        height: 20px;
    }
    
    header ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header li a {
        text-decoration: none;
        margin: 5px 10px;
        padding-bottom: 4px;
        border-bottom: 1px solid transparent;
        font-weight: 400;
        font-size: 14px;
        color: #0F1928;
    }
    
    header li a:hover, a.active {
        color: #1A33B2;
        font-weight: bold;
        border-bottom: 1px solid #1A33B2;
    }
    
    a.cta {
        text-decoration: none;
        color: #1A33B2;
        font-weight: bold;
    }
    
    
    button.cta {
        border-radius: 8px;
        padding: 0.8em 1.5em;
        margin-left: 15px;
        background-color: #1A33B2;
        color: #fff;
        font-size: 14px;
        letter-spacing: 5%;
        outline: none;
        border: none;
        cursor: pointer;
    }
    
    button a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
}


@media screen and (max-width: 767px){
    .logodiv {
        width: 50px;
        height: 50px;
    }
    
    .logodiv img {

        width: 100%;
        height: 100%;
    }
}










/* devices smaller than 440px */

@media (max-width: 440px) {
    
        header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 2.5px 7.5px;
        }
        
        header img{
            width: 10px;
            height: 10px;
        }
        
        header ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        
        header li a {
            text-decoration: none;
            margin: 2.5px 5px;
            padding-bottom: 4px;
            border-bottom: 1px solid transparent;
            font-weight: 400;
            font-size: 10px;
            color: #0F1928;
        }
        
        header li a:hover, a.active {
            color: #1A33B2;
            font-weight: bold;
            border-bottom: 1px solid #1A33B2;
        }
        
        a.cta {
            text-decoration: none;
            color: #1A33B2;
            font-weight: bold;
        }
        
        
        button.cta {
            border-radius: 8px;
            padding: 0.4em 1.2em;
            margin-left: 15px;
            background-color: #1A33B2;
            color: #fff;
            font-size: 14px;
            letter-spacing: 5%;
            outline: none;
            border: none;
            cursor: pointer;
        }
        
        button a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
    
}
