.features{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 90vh;
    padding: 20px;
    font-family: 'Lato';
    flex-wrap: wrap;
    margin-bottom: 5rem;
    margin-top: 0px;
}

.headers{
    display: flex;
    position: relative;
    flex: 1;
    left: -200px;
    top: -100px;
    justify-content: space-evenly;
    flex-grow: 1;
    font-size: 18px;
}

.headers :nth-of-type(1){
    color: var(--finall2);
    font-family: 'Lato';
    width: 900.03px;
    height: 68px;
    top: 200px;
    left: -12rem;
    font-style: normal;
    align-items: center;
    position: absolute;
    font-weight: bolder;
    size: 42px;
    font-size: 2rem;
    display: flex;
    word-spacing: 1px;
    letter-spacing: 1px;
}


.headers :nth-of-type(2){
    color: var(--finall3);
    font-family: "Lato";
    width: 900.03px;
    height: 68px;
    top: 200px;
    left: 24.1rem;
    font-style: normal;
    align-items: center;
    position: absolute;
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    size: 42px;

}


.contents {
    font-size: 16px;
    align-items: center;
    margin-top: 10px;
    position: relative;
    top: -250px;
    left: -75px;

}


.contents >  *{
    position:absolute;
    gap: 2rem;
    
} 

.contents-card-details {

}

@media screen and ( max-width:1200px) {
    .features {
        height: 120vh;
    }

    .headers :nth-of-type(1) {
        margin-top: -20px;

    }

    .headers :nth-of-type(2) {
        margin-top: -20px;
    
    }
}

@media screen and ( max-width:1023px) {

    .headers span {
        display: flex;
        justify-content: center;
        margin-left: -100px;
    }

    .headers :nth-of-type(1) {
        margin-top: -20px;
        font-size: 22px;

    }

    .headers :nth-of-type(2) {
        margin-top: -20px;
        font-size: 22px;
        margin-left:-380px;
    }
}