.over-features{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 90vh;
    font-family: 'Lato';
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 0px;
}

.over-headers{
    display: flex;
    
}

.over-headers :nth-of-type(1){
    color: var(--finall2);
    font-family: 'Lato';

    height: 68px;

    margin:-190px 10px 0px 0px;
    left: -12rem;
    font-style: normal;
    align-items: center;
    font-weight: 700;
    font-size: 42px;
    display: flex;
    word-spacing: 1px;
    letter-spacing: 1px;
}


.over-headers :nth-of-type(2){
    color: var(--finall3);
    font-family: "Lato";
    height: 68px;
    margin-top: -190px;
    left: 24.1rem;
    font-style: normal;
    align-items: center;
    display: flex;
    font-weight: 700;
    font-size: 42px;


}


.over-contents {
    font-size: 16px;
    align-items: center;
    margin-top: 10px;
    position: relative;
    left: -75px;

}


.over-contents >  *{
    position:absolute;
    gap: 2rem;

    
} 


@media screen and ( max-width:1200px) {
    .over-features {
        height: 140vh;
    }

    .over-headers :nth-of-type(1) {
        margin-top: -300px;

    }

    .over-headers :nth-of-type(2) {
        margin-top: -300px;
    
    
    }

    .over-contents div {
        
        height: 200px;
        margin-top: -30px;
    }
}

@media screen and ( max-width:1023px) {

    .over-headers span {
        display: flex;
        justify-content: center;
        margin-left: -100px;
    }

    .over-headers :nth-of-type(1) {
        margin-top: -280px;
        font-size: 22px;

    }

    .over-headers :nth-of-type(2) {
        margin-top: -280px;
        font-size: 22px;
        margin-left: 2px;
    }

    
}

@media screen and ( max-width:767px) {
    .over-features {
        height: 150vh;

    }
    .over-headers :nth-of-type(1) {
        margin-top: -300px;
}

    .over-headers :nth-of-type(2) {
    margin-top: -300px;
}


    .over-contents {
        margin-right: -80px;

    }
}

@media screen and ( max-width:480px) {
    .over-features {
        width: 100%;
        border: 4px solid red;
    }

    .over-headers {
        flex-direction: column;
        width: 100%;
        /*height: 10vh;
        padding-top: -100px;
        border: 1px solid blue; */
    }


    
    .over-headers :nth-of-type(1){
        font-size: 100%; 
    }

    .over-headers :nth-of-type(2) {  
        font-size: 100%;
        margin-top: -35px; 
    }




   

   
    
    
    
    
    
    








     
}
