
* {
    box-sizing: border-box;
}

.logout-container {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.logout-box {
    position: relative;
    width: 650px;
    max-width: 80%;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(26, 51, 178, 0.25);
    border-radius: 16px;
    padding: 0 30px;
    overflow: hidden;
}

.logout-box1 {
    padding-top: 100px;
    padding-bottom: 35px;
}

.logout-tag {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    color: #33343D;
    text-align: center;
    margin-bottom: 15px;
}

.logout-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #807D9B;
    text-align: center;
}

.logout-box2 {
    width: 50%;
    cursor: pointer;
    border: none;
    border-top: 1px solid #CFD1D4;
    background: transparent;
    outline: none;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.logout-box3 {
    width: 50%;
    cursor: pointer;
    border: none;
    border-top: 1px solid #CFD1D4;
    border-left: 1px solid #CFD1D4;
    background: transparent;
    outline: none;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.logout-text2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #1A33B2;
    text-shadow: rgba(0, 0, 0, 0.2);
}

.logout-text3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #6F757E;
}

@media screen and (min-width:700px) and (max-width: 860px) {
    .logout-box {
        width: 83%;
        max-width: 100%;
    }
}

@media screen and (min-width:600px) and (max-width: 700px) {
    .logout-container {
        height: 90vh;
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .logout-container {
        height: 90vh;
    }

    .logout-box {
        width: 83%;
        max-width: 90%;
    }

    .logout-box1 {
        padding-top: 90px;
    }

    .logout-tag {
        font-size: 25px;
        line-height: 28px;
    }

    .logout-text {
        font-size: 17px;
        line-height: 18px;
    }

    .logout-box2 {
        height: 60px;
    }

    .logout-box3 {
        height: 60px;
    }

    .logout-text2 {
        font-size: 17px;
    }

    .logout-text3 {
        font-size: 17px;
    }

}