* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: rgb(250, 250, 250);
}

.newsletter > div {
    width: 100%;
}

.newsletter h3 {
    font-weight: 700;
    color: #0F1928;
    margin-top: 60px;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 50px; 
    font-size: 42px;
    width: 100%;
}

.news-content {
    display: flex;
    width: 100%;
}

.news-para {
    height: 30vh;
}

.news-para p {    
    margin: auto;
    margin-top: 80px;
    height: 40%;
    font-size: 21px;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 35px;
    color: #0F1928;
    font-weight: 400;
    width: 80%;

}

.news-chimp {
    width: 70%;
}


.newsletter label {
    display: block;
    font-size: 18px;
    color: #27303E;
    padding-left: 10px;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 400px;
}

.newsletter input {
    display: block;
    width: 100%;
    margin: 12px 0px 30px;

    border: 1px solid #9FA3A9;
    outline: none;
    border-radius: 5px;
    padding: 16px;
    font-size: 16px;
    color: #0F1928;
    letter-spacing: 1px;
}

.newsletter input[type="email"] {
    margin-bottom: 20px;
}

.newsletter input:focus {
    border: 1px solid #0F1928;
}

.newsletter button {
    display: block;
    border-radius: 8px;
    padding: 0.8em 1.5em;
    margin: 25px auto;
    background-color: #1A33B2;
    color: #fff;
    font-size: 18px;
    letter-spacing: 5%;
    outline: none;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;

}

.newsletter .alert {
    width: 100%;
    text-transform: capitalize;
    padding: 0px 15px;
    font-weight: bold;
    color: #1A33B2;
}

.newsletter .alert-error {
    color: red;
}

@media screen and (max-width:1023px){
    .newsletter h3 {
        font-weight: 500;
        font-size: 150%;
    }
    .newsletter button {
        font-size: 90%;
    }
}


@media screen and  (max-width: 767px) {
    .newsletter  {
        font-size: 80%;
    }
    .newsletter div p  {
        font-size: 100%;
        margin-top: 50px;
    }

    .news-chimp {
        font-size: 90%;
    }
    
    .news-chimp form label {

        font-size: 110%;
    } 
        
    .news-chimp form input {

        font-size: 100%;
    } 

}
@media screen and  (max-width: 767px) {
    .newsletter h3 {
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .news-content {
        flex-direction: column;
        margin-top: 0px;
    }

    .newsletter div p {
        width: 100%;
        margin-left: 0px;
        margin-top: -10px;
        margin-bottom: 20px;
        text-align: center;
    }

    .newsletter input {
        width: 130%;
    }
    .newsletter button {
        margin-left: 150px;
    }


}
@media screen and (max-width:480px){
    .newsletter {
        width: 100%;
    }
    .newsletter h3 {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 500;
    }

    
    .newsletter div p {
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        width: 95%;
    
    }
    
    .news-chimp {
        width: 70%;
    
    }
    
    
    .newsletter label {
        display: flex;
        margin-left: 0px;
    
        
    
    }
    
    .newsletter input {
        display: flex;
        


    }
}

