.apibutton > button{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--finall2);
    top: 95%;
    left: 39rem;
    transition: 0.3s ease-in;
}


.apibutton > :hover{
    background: white;
    cursor: pointer;
    color: var(--blue);
    border: 2px solid var(--finall2);
  }