.Login {
    border-radius: 4px;
    width: 100%;
    height: 100vh;

    display: flex;
    margin-top: 50px;
  }


.login-img {
  width: 50%;

}

.login-img div {
  width: 80%;
  margin: 150px auto 50px auto;

}

.login-img div img {
  width: 100%;
  
}

.login-content {
  width: 50%;
}

.login-content-box {
  width: 50%;
  height: 90%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}



.login-head {
  margin: 50px 0px;
  color: #1A33B2;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
}

.button-class{
  display: flex;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.button-class button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 50%;
  background-color:#F1F8FF ;
}

.button-class button a {
  color: #1A33B2;
  font-size: 130%;
}

.google-icon , .facebook-icon {
  font-size:15px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.facebook-icon{
  color: steelblue;
}

.login-line {
  letter-spacing: 1px;
  font-size: 90%;
  font-weight: 700;
  display: flex;
  width: 70%;
  margin: 15px auto 30px auto;
}


.login-line div {
  border-bottom: 1px solid rgb(226, 225, 225);
  width: 80%;
  margin-bottom: 15px;
}

.login-line span {
  margin: -11px 10px 0px 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  align-items: flex-start;
  
}

.input-group label {
  margin-bottom: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 500;
}

.input-group input {
  padding: 10px;
  width: 100%;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  background-color: #F1F8FF ;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: -35px 0px 40px 0px;
}

.form-check {
  display: flex;
  align-items: center;
  
}

.form-check input {
  height: 11px;
  width: 11px;
  margin-right: 5px;

}

.form-check label {
  font-size: 85%;
  letter-spacing: 1px;
}

.form-password-reset {
  align-items: center;
  
}

.form-password-reset a {
  font-size: 75%;
  font-weight: 400;
  letter-spacing: px;
  text-decoration: none;
  color: #1A33B2;
}

.form-login-btn {
  width: 30%;
  margin: 20px auto;
}

.form-login-btn button {
  padding: 13px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #1A33B2;
  
}

.form-login-btn button a {
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 125%;
}

.form-new {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}


.form-new p {
font-size: 90%;
margin-right: 10px;
letter-spacing: 1px;
}

.form-new a {
  font-size: 90%;
  color: #1A33B2;
  letter-spacing: 1px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .Login {
    height: 120vh;
  }
}

@media screen and (max-width:480px) {
  .Login {
    flex-direction: column;
    align-items: center;
    height: 150vh;
  }

  .login-img {
    width: 50%;
    height: 20%;
  
  }
  
  .login-img div {
    width: 80%;
    margin-top:20px;
    
    
  
  }
  
.login-content {
  width: 100%;
  height: 80%;
  
}

.button-class button {
  height: 7vh;

  
}

.input-group label {
  margin-bottom: 7px;
  font-size: 14px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align:center ;
}

.form-check label {
  font-size: 70%;
  width: 100%;
  margin-left: 5px;
}


}
