.Login {
    background: #fff;
    border-radius: 4px;
    max-width: 615px;
    padding-bottom: 66px;
    padding-top: 283px;
    text-align: center;
    width: 90%;
    margin-bottom: -277px;
    margin-top:110px;
  }
  .Login > .logo {
    max-width: 90%;
  }
  .Login > .form {
    margin-bottom: 98px;
    margin-top: 41px;
    position: relative;
    left:756px;
  }
  
  .input-group {
    margin-bottom: 26px;
  }
  .input-group:nth-last-child(-n + 2) {
    margin-bottom: 50px;
  }
  .input-group > label,
  .input-group > input {
    font-family: 'Roboto', sans-serif;
    max-width: 420px;
    text-align: left;
    width: 80%;
  }
  .input-group > label {
    display: inline-block;
    margin-bottom: 5px;
  }
  .input-group > input {
    background: #F1F8FF;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    color: #676767;
    font-size: 16px;
    outline: 0;
    padding: 0 15px;
    transition: all 0.3s;
    width: 478px;
    height: 54px;
  }
  .input-group > input:focus {
    background: #fff;
    border-color: #c4c4c4;
  }
  .input-group > input::placeholder {
    color: #c4c4c4;
    font-size: 16px;
  }
  
  .Login button {
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    max-width: 420px;
    outline: 0;
    padding: 10px 0;
    transition: background 0.3s;
    width: 80%;
  }
  button.primary {
    background:  #1A33B2;;
    width:192px;
    height:64px;
    border-radius:8px;
    font-size:12px;
    position:absolute;
    top:272px;
    left:220px;
  }
  .button-class{
    display: flex;
    gap: 16px;
    width: 428px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    left: 95px;
    bottom: 305px;
  }
  .button-class button{
    background-color: #F1F8FF;
    color:#030229;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px
      }
  .form-title{
    color:#1A33B2;
    position: absolute;
    bottom: 469px;
    left: 267px;
  }
  .form-check-label{
    padding: 3px;
    position: absolute;
    top: 182px;
    left: 123px
    }
  .form-check-input{
    padding: 3px;
    position: absolute;
    top: 187px;
    left: 108px
  }
.login-line
{
  display: table;
  text-align: center;
  position: absolute;
  left: 150px;
  bottom: 252px
}
.login-line:before, .login-line:after{ 
  content:'';
  display:table-cell; 
  width:151px;
  border-top:2px solid #B6B6B4;;
  -webkit-transform:scaleY(0.3);
  transform:scaleY(0.3);
}
.Account{
  display:flex;
  gap:8px;
  font-size: 12px;
  position: absolute;
  right: 190px;
  top: 358px;
}

.Account p{
  color:#3e38b4
}
.login-left {
  position: relative;
  bottom: 433px;
  left: 100px;
}
.Login h4{
  font-size: 12px;
  color:#3e38b4;
  position: absolute;
  right: 110px;
  top: 183px;
}
.google-icon{
    font-size:50px;
    position: relative;
    bottom: 90px;
    left: 93px;
}
.facebook-icon{
  font-size: 35px;
  position: relative;
  bottom: 81px;
  left: 93px;
  color: steelblue;
}