:root {
  --yellow: #F5C32C;
  --orange: #FCA61F;
  --black: #242D49;
  --gray: #788097;
  --blue: #0000FF;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --green: #00FF00;
  --red: #FF0000;
  --gold: #FFD700;
  --lavender: #E6E6FA;
  --navy: #000080;
  --skyblue: #87CEEB;
  --midnightblue: #191970;
  --matte: #28282B;
  --charcoal: #36454F;
  --boxShadow: 4px 6px 5px rgba(9, 13, 255, 0.25);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --finall1: #cfe6fc;
  --finall2: #1a33b2;
  --finall3: #6787e4;
  --white: #ffffff;
}

.revoice-section nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.revoice-icons{
  align-items: center;
  display: flex;
  width: 20%;
  justify-content: space-between;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}