.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 90vh;
    padding: 20px;
    font-family: 'Lato';
    flex-wrap: wrap;
    margin: 20px;
    margin-bottom: 5rem;
}

.header{
    display: flex;
    position: relative;
    flex: 1;
    left: -200px;
    top: -100px;
    justify-content: space-evenly;
    flex-grow: 1;
    font-size: 18px;
    
}

.header :nth-of-type(1){
    color: var(--finall2);
    font-family: 'Lato';
    width: 849.03px;
    height: 68px;
    top: 200px;
    left: -12rem;
    font-style: normal;
    align-items: center;
    position: absolute;
    font-weight: bolder;
    size: 42px;
    font-size: 2rem;
    display: flex;
}


.header :nth-of-type(2){
    color: var(--finall3);
    font-family: "Lato";
    width: 849.03px;
    height: 68px;
    top: 200px;
    left: 0.7rem;
    font-style: normal;
    align-items: center;
    position: absolute;
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    size: 42px;
}

.header :nth-of-type(3){
    color: var(--finall2);
    font-family: "Lato";
    width: 849.03px;
    height: 68px;
    top: 200px;
    left: 17rem;
    font-style: normal;
    align-items: center;
    position: absolute;
    display: flex;
    font-weight: bold;
    font-size: 2rem;
}



.content{
    font-size: 16px;
    align-items: center;
    margin-top: 10px;
    position: relative;
    top: -250px;
    left: -75px;
}

.content > *{
    position:absolute;
}


