.feature-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 90vh;
    font-family: 'Lato';
    flex-wrap: wrap;
    margin: 20px;
    margin-bottom: 15rem;
}

.feature-header{
    display: flex;
    font-size: 18px; 
   
}

.feature-header :nth-of-type(1){
    color: var(--finall2);
    font-family: 'Lato';
    height: 68px;
    margin-top: -160px;
    left: -13rem;
    font-style: normal;
    align-items: center;

    font-weight: bolder;
    size: 42px;
    font-size: 2rem;
    display: flex;
    word-spacing: 1px;
    letter-spacing: 1px;
    
}


.feature-header :nth-of-type(2){
    color: var(--finall3);
    font-family: "Lato";
    height: 68px;
    left: 0.7rem;
    font-style: normal;
    align-items: center;
    margin: -160px 10px 0px 10px;
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    size: 42px;
    word-spacing: 1px;
    letter-spacing: 1px;

}

.feature-header :nth-of-type(3){
    color: var(--finall2);
    font-family: "Lato";
    height: 68px;
    margin-top: -160px;
    left: 18rem;
    font-style: normal;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 2rem;
}



.feature-content{
    font-size: 16px;
    align-items: center;
    margin-top: 10px;
    position: relative;
    margin-bottom: -100px;
    left: -75px;
    flex-wrap: wrap;

}

.feature-content > *{
    position:absolute;
}


@media screen and (max-width: 1200px) {
    .feature-feature {
        height: 125vh;
        margin-top: -20px;
        margin-bottom: 0px;
    }

.feature-header :nth-of-type(1){
        margin-top: -600px;
    

    }
    .feature-header :nth-of-type(2){
        margin-top: -600px;
        
    }
    .feature-header :nth-of-type(3){
        margin-top: -600px;
    }

    .feature-content { 
    margin-top: -450px;
    }

}

@media screen and (max-width: 1023px) {
    .feature-feature {
        height: 135vh;
    }

    .feature-header span {
        display: flex;
        justify-content: flex-start;

    }

    .feature-header :nth-of-type(1){
        margin-top: -580px;
        font-size: 20px;
        margin-left: 50px;



    }
    .feature-header :nth-of-type(2){
        font-size: 20px;
        margin-top: -580px;
    }
    .feature-header :nth-of-type(3){
        font-size: 20px;
        margin-top: -580px;

    }


}

@media screen and (max-width: 480px) {
    .feature-feature {
        height: 135vh;
    }
    .feature-header{
        border: 1px solid black;
        width: 160%;
        margin-left: -70px;

    }
    .feature-header span{
        border: 1px solid red;
        
    
    }



}